body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}
input {
  display: block;
  width: 250px;
  height: 40px;
}

span {
  font-size: 10px;
}

.Input {
  margin-bottom: 10px;
}

button {
  border: none;
  padding: 15px;
  margin-top: 10px;
  width: 250px;
  border-radius: 10px;
  background-color: rgb(231, 207, 245);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
